<a [routerLink]="['/home']"><h1>Mindreader</h1></a>
<!--<img src="https://d.newsweek.com/en/full/1228350/brain-stock.jpg" alt="Brain" width="200" height="100px">-->
<h3><b>Welcome to the mindreader application.</b></h3>
<p *ngIf="users.length == 0">No users exists yet. Please upload some cognition snapshots and come back later.</p>
<p *ngIf="users.length > 0">Choose a user from the list below to view his cognition snapshots.</p>
<ul>
  <li *ngFor="let user of users">
    <a [routerLink]="['/user', user.user_id]">{{user.username}} (ID: {{user.user_id}})</a>
  </li>
</ul>

