<a [routerLink]="['/home']"><h1>Mindreader</h1></a>
<h2>User page: <a [routerLink]="['/user', user_id]">{{user.username}}</a></h2>

<p><b>Name</b>: {{user.username}}, <b>ID</b>: {{user.user_id}}, <b>Birthday</b>: {{user.birthday}}, <b>Gender</b>: {{user.gender}}</p>

<h3 *ngIf="snapshots.length == 0">This user hasn't uploaded any cognition snapshots.</h3>
<h3 *ngIf="snapshots.length > 0">List of available snapshots:</h3>

<ul>
  <li *ngFor="let snapshot of snapshots; let i = index">
    <a [routerLink]="['/snapshot', user_id, snapshot.snapshot_id, i]">Snapshot from {{snapshot.date}}</a>
  </li>
</ul>
