h1 {
  color: #ff4411;
  font-size: 48px;
  font-family: 'Signika', sans-serif;
  transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  -o-transition: .5s;
  padding-bottom: 10px;
  /*text-indent: 20px;*/
}

h1:hover {
  color: #e59b03;
}

h2 {
  font: 400 30px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #f4ff5f;
  font-weight: bold;
}

h3 {
  font: 400 20px/1.5 Helvetica, Verdana, sans-serif;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

h4 {
  font: 400 20px/1.5 Helvetica, Verdana, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
  color: #4498a0;
  color-interpolation: linearRGB;
}

.lightbg {
  color: #969393;
}

p {
  color: #4c4a37;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 24px;
}

a {
  color: #f5ff3a;
  transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  -o-transition: .5s;
  text-decoration: none;
}

a:hover {
  color: #4498a0
}


.entry-content {
  border-bottom: 3px solid #666;
  padding: 0 0 15px 0;
  margin-bottom: 8px;
}


.meta-info {
  padding: 5px;
  overflow: hidden;
}


.meta-info p {
  font-family: 'Fenix', serif;
  font-style: italic;
  color: #666;
  font-size: 16px;
}

/*********/
/* Lists */
/*********/

div {
  width: 200px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 700px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 23px;
  background: #f6f6f6;
  cursor: pointer;
  opacity: 0.5
}

/**************/
/* Background */
/**************/


body {
  text-indent: 20px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
